body{
background-image:url(hintergrund_15.png);
background-attachment:scroll;
}
#transparent{
    height: 600px;
    width:100%;
/*background-color: rgba(255, 255, 255, 0.6);*/
}
#Logo{

margin-left: 600px;
    margin-top: 10px;
}
.auswahl1{
height: auto;
float:left;
    margin-top: 20px;
    margin-left: 10px;
}
.textfeld1{
margin-top: 20px;
}
.auswahl2{
    margin-top:20px;
    float:left;
    margin-left: 10px;
}
.ausgabe{
margin-top: 50px;
    margin-left: -60px;
    ;
    float:left;
}
#ergebnis{
margin-left: 180px;
    margin-top:-85px;
}


button{
height: 20px;
    border-radius: 3px;
    background-color:white;
    margin-left: 425px;
    
}
.boxgroesse {
        width: 500px;
        height: 150px;
        font-size: 30pt;
        color: white;
        opacity: 0.5;
        background-color: black
    }
 #box1 {
        position: absolute;
        top: 250px;
        left: 200px;
    }
#box2 {
        position: absolute;
        top: 250px;
        left: 705px;
    }
#box3 {
        position: absolute;
        top: 405px;
        left: 200px;
        width: 1005px;
        height: 300px;
    }
#berechnen{
    
    margin-left: auto;
}
#loeschen{
margin-left:auto;
}
