body{
background-image:url(hintergrund_15.png);
background-attachment:scroll;
    text-align: center;
}
#transparent{
    height: 600px;
    width:100%;
/*background-color: rgba(255, 255, 255, 0.6);*/
}
#Logo{

margin-left: 600px;
    margin-top: 10px;
}
.auswahl1{
height: auto;
float:left;
    margin-top: 20px;
    margin-left: 10px;
}
.textfeld1{
margin-top: 20px;
}
.auswahl2{
    margin-top:20px;
    float:left;
    margin-left: 10px;
}
.ausgabe{
margin-top: 50px;
    margin-left: -60px;
    ;
    float:left;
}
#ergebnis{
margin-left: 180px;
    margin-top:-85px;
}


button{
height: 20px;
    border-radius: 3px;
    background-color:white;
    margin-left: 425px;
    
}
.boxgroesse {
        width: 500px;
        height: 150px;
        font-size: 30pt;
        color: white;
     //   opacity: 0.5;
        background-color: black
    }
 #box1 {
        position: absolute;
        top: 250px;
        left: 200px;
    }
#box2 {
        position: absolute;
        top: 250px;
        left: 705px;
    }
#box3 {
        position: absolute;
        top: 405px;
        left: 200px;
        width: 1005px;
        height: 300px;
        text-align: center;
    }
#berechnen{
    
    margin-left: auto;
}
#loeschen{
margin-left:auto;
}

.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button {
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}



