body{
background-image:url(hintergrund_15.png);
background-attachment:scroll;
}
#transparent{
    height: 600px;
    width:100%;
/*background-color: rgba(255, 255, 255, 0.6);*/
}
#Logo{

margin-left: 600px;
    margin-top: 10px;
}
.auswahl1{
height: auto;
float:left;
    margin-top: 20px;
    margin-left: 10px;
}
.textfeld1{
margin-top: 20px;
}
.auswahl2{
    margin-top:20px;
    float:left;
    margin-left: 10px;
}
.ausgabe{
margin-top: 50px;
    margin-left: -60px;
    ;
    float:left;
}
#ergebnis{
margin-left: 180px;
    margin-top:-85px;
}


button{
height: 20px;
    border-radius: 3px;
    background-color:white;
    margin-left: 425px;
    
}
.boxgroesse {
        width: 500px;
        height: 150px;
        font-size: 30pt;
        color: white;
        opacity: 0.5;
        background-color: black
    }
 #box1 {
        position: absolute;
        top: 250px;
        left: 200px;
    }
#box2 {
        position: absolute;
        top: 250px;
        left: 705px;
    }
#box3 {
        position: absolute;
        top: 405px;
        left: 200px;
        width: 1005px;
        height: 300px;
    }
#berechnen{
    
    margin-left: auto;
}
#loeschen{
margin-left:auto;
}

button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#8fae60 0%,
		#34571c);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#8fae60),
		to(#34571c));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #386917;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}

